<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Home</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <div class="container">
        <div class="row d-flex justify-content-between">
            <div class="col-xl-3 col-md-12">
                <div class="card">
                    <div class="card-block p-3">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <h4 class="text-yellow font-weight-bold">0</h4>
                                <h6 class="text-muted m-b-0">All Submissions</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="feather icon-bar-chart f-28"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-yellow">
                        <div class="row align-items-center">
                            <div class="col-9">

                            </div>
                            <div class="col-3 text-right">
                                <i class="feather icon-trending-up text-white f-16"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-12">
                <div class="card">
                    <div class="card-block p-3">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <h4 class="text-green font-weight-bold">0</h4>
                                <h6 class="text-muted m-b-0">Submission Accepted</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="feather icon-bar-chart f-28"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-green">
                        <div class="row align-items-center">
                            <div class="col-9">

                            </div>
                            <div class="col-3 text-right">
                                <i class="feather icon-trending-up text-white f-16"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-12">
                <div class="card">
                    <div class="card-block p-3">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <h4 class="text-red font-weight-bold">0</h4>
                                <h6 class="text-muted m-b-0">Submission Rejected</h6>
                            </div>
                            <div class="col-4 text-right">
                                <i class="feather icon-bar-chart f-28"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-red">
                        <div class="row align-items-center">
                            <div class="col-9">

                            </div>
                            <div class="col-3 text-right">
                                <i class="feather icon-trending-up text-white f-16"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        

    </div>
</div>